@CHARSET "UTF-8";

/* reset bootstrap style */
.progress-bar {
	background-color:#00b3fe;
}

/*Color class*/
.gray {
	color:#bfc9d3;
}

/*watch page*/
#videowarp {
	padding-top:100px;
	min-height:550px;
}

#bottom-nav {
	padding-top:50px;
	padding-bottom:30px;
}

/*side bar*/
#sidebar{
	z-index: 1040;
}

#sidebar-button{
	position: fixed;
	top: 123px;
	z-index: 500;
	width: 111px;
}

/**/
.ui.steps.huge .step{
	font-size: 1.5rem;
}

#videowarp .thumbnail {
	position: relative;
}

/**/
.slide div {
	position: relative;
}

.slide div img {
	cursor: pointer;
}

.slideshow .carousel {
	position: inherit; 
} 